body{
    background-color: black;
}

.tweet-panel {
    display: flex;
    justify-content: center;

}

.tweet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 50%;
    height: 20em;
    margin: 30px;
    border-radius: 10%;
}

.comment-session {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-session > button {
    cursor: pointer;
}

.time-comment-like {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row;
    width: 300px;
}

.like-button {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.like-button > button {
    cursor: pointer;
}